@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e0eae8
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.pagina-inicial {
  display: -ms-flexbox;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.barcode-text {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 48px;
  color: #521e3d;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  text-align: center;
}

.btn {
  margin-top: 30px;
  padding: 10px 10px;
  font-size: 09px;
  border: none;
  background-color: #521e3d;
  
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #521e3d;
}

.pagina-catalogo header {
  padding: 20px 30px;

}

.logo {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 36px;
  color: #521e3d;
  user-select: none;
  white-space: nowrap;
  text-align: center;
}

. {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  padding: 40px;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.card {
  width: 200px;
  background: #521e3d;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  font-size: 24px;
  color: #e0eae8;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  


}

.card:hover {
  box-shadow: 0 8px 16px rgba(233, 230, 230, 0.15);
  transform: translateY(-5px);
  

}

/* Página Vendas */
.pagina-vendas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
}

.container-vendas .btn {
  width: 200px;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;

}

main {
  padding: 40px 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.entrar button {
  width: 100%;
}

.entrar input {
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 4px;
  margin: 8px 0;;
}


.placeholder {
  color: #888888;

}

/* Processos da venda */
.pagina-input-vendas
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  flex-direction: column;
  gap: 40px;

}

.container-input-vendas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container-input-vendas .btn {
  width: 200px;
}
.container-input-vendas h2 {
  color: #434141;
}
.container-input-vendas form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100px;
}

.container-input-vendas input {
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 4px;
  margin: 8px 0;;
}




.pagina-Portifolio header {
  padding: 20px 30px;



  background-color: #e0eae8;

}

button novo-cliente {
    background-color: #656865;
    color: white;
    border: none;
    padding: 8px;px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    width: 150px;
    height: 40px;
    font-size: 16px;
    scroll-margin-right: 20px;
    margin-bottom: 20px;
    display: block;

}

